{% extends 'base.html' %}
{% block title_block %}
 Register
 {% endblock %}

{% block body_block %}
<style>
  body {
    background-image: url('https://images.unsplash.com/photo-1501785888041-af3ef285b470?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
    background-size: cover;
  }
</style>
<div class="container"  >
 
 <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10 col-12">
  <div style="margin-top: 100px; margin-bottom: 40px;">
      <div class="card">
        <div class="card-header">
          <h1 class="text-center">Register for Trips</h1>
        </div>
        <div class="card-body">
{% if registered %}
  <strong>thank you for registering!</strong>
 <a href="{% url 'index' %}">Return to the homepage.</a><br />
 {% else %}
 <strong>register here!</strong><br />
          <form id="user_form" method="post" action="{% url 'register' %}"enctype="multipart/form-data">
            {% csrf_token %}
<div class="form-group">
              <label for="username">Username</label>
              <input type="text" name="username" id="username" class="form-control" required autofocus>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" name="password" id="password" class="form-control" required>
            </div>
            <div class="form-group text-center">
              <button type="submit" class="btn btn-primary btn-block" value="Register">Register</button>
</div>
          </form>
 {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
