{% extends 'rango/base.html' %}

 {% load staticfiles %}

<html>

 <head>
<title>Rango</title>
 
</head>

 <body>
 <h1>Rango says...</h1>
 <div>
{% if user.is_authenticated %}
howdy {{ user.username }}!
{% else %}
hey there partner!
{% endif %}
<br/>
 <strong>{{ boldmessage }}</strong>
</div>

 <div>
 {% if categories %}
 <ul>
 {% for category in categories %}
 <li>{{ category.name }}</li>
 {% endfor %}
 </ul>
 {% else %}
 <strong>There are no categories present.</strong>
 {% endif %}
 </div>

 <div>
 <a href="/rango/about/">About Rango</a><br />
 <img src="{% static "images/1.jpg" %}"
 alt="Picture of Rango" />
</div>
 </body>
<ul>
<li><a href="{% url 'add_category' %}">Add a New Category</a></li>

<li><a href="{% url 'index' %}">Index</a></li>
<li><a href="{% url 'register' %}">Sign Up</a></li>
<li><a href="{% url 'login' %}">Login</a></li>
<li><a href="{% url 'logout' %}">Logout</a></li>
</ul>
 </html>