<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your orders</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'style.css' %}">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="{% static 'order.js' %}"></script>
<!-- <script>
$(document).ready(function(){
	$('[data-toggle="tooltip"]').tooltip();

    $(".cancel").on("click", function() {
        let clicked = $(this);
        let orderid = $(this).attr('data-orderid');
        $.ajax({type: "GET", 
        url: "{% url 'order:cancelorder' %}", 
        data: "order_id=" + orderid, 
        success: function(message) { 
            clicked.closest("tr").find('td').eq(4).text(message).attr('class', 'text-danger');
            clicked.hide();
        } 
});
});
});
</script> -->
</head>
<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-4">
                        <h2>Order Details</h2>
                    </div>
                </div>
            </div>

            <table class="table table-striped table-hover ">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Trip</th>
                        <th>Amount</th>
                        <th>Order Date</th>						
                        <th>Status</th>						
                        <th>Price</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {%for order in orders%}
                    <tr>
                        <td> {{ forloop.counter }}</td>
                        <td>{{order.trip.trip_name}}</td>
                        <td>{{order.amount}}</td>
                        <td>{{order.time}}</td>
                        {% if order.status == 'cancelled' %}
                        <td class="text-danger">{{order.status}}</td>
                        {% else %}                       
                        <td><span class="status text-success">&bull;</span> {{order.status}}</td>
                        {% endif %}
                        <td>${{order.price}}</td>
                        {% if order.status == 'cancelled' %}
                        <td><button type="button" class="cancel btn btn-primary" data-orderid="{{order.id}}" style="display: none;">Cancel</button></td>
                        {% else %}                       
                        <td><button type="button" class="cancel btn btn-primary" data-orderid="{{order.id}}">Cancel</button></td>
                        {% endif %}
                        
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>        
</div>     
</body>
</html>