<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add</title>
</head>
<body>
<h1>addtrips</h1>
<form method="post">
    {% csrf_token %}
    <input type="post" name="id" placeholder="id">
    <input type="post" name="tripname" placeholder="tripname">
    <input type="post" name="introduction" placeholder="introduction">
    <input type="post" name="imageurl" placeholder="imageurl">
    <input type="post" name="bookednum" placeholder="bookednum">
    <input type="post" name="price" placeholder="price">
    <input type="submit" value="submit">
</form>
</body>
</html>